<div class="wrapper">
  <div class="dashboard-container">
    <div class="stats-container">
      <div class="stats-box">
        <p class="stats-number">99</p>
        <p class="stats-text">Number of Laptops</p>
      </div>
      <div class="stats-box">
        <p class="stats-number">99</p>
        <p class="stats-text">Number of Desktops</p>
      </div>
      <div class="stats-box">
        <p class="stats-number">99</p>
        <p class="stats-text">Number of Users</p>
      </div>
      <div class="stats-box">
        <p class="stats-number">99</p>
        <p class="stats-text">Number of Device Parts</p>
      </div>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Laptop ID</th>
            <th>Assigned Personnel</th>
            <th>Purchase Date</th>
            <th>Laptop Age</th>
            <th>Location</th>
            <th>Condition</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <select title="employee">
                <option>Sir Benjie</option>
                <option>Ma'am Bev</option>
                <option>Cedric Lunar</option>
                <option>Kimm Carl Buban</option>
                <option>Jhomark Alber</option>
                <option>Justmyr Rodriguez</option>
                <option>Raymart Castillo</option>
                <option>John Kenneth Fajiculay</option>
                <option>Cheli Ann</option>
              </select>
            </td>
            <td>01/01/2021</td>
            <td>1 year</td>
            <td>
              <select title="employee">
                <option>1NK Center</option>
                <option>2nd Office</option>
                <option>Warehouse</option>
              </select>
            </td>
            <td>Working</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
